<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sina News</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="alternate" type="application/rss+xml" title="Recent Entries" href="http://ruanyf.github.io/sina-news/rss.xml">
    <style>
      p {
        max-width: 50rem;
      }
      li {
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        全球实时财经新闻
      </h1>
      <ol class="list"></ol>
    </div>
  </section>
  </body>
  <script type="text/javascript" src="page.js"></script>
</html>

